<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Activity Logs</h3>  
      </div>
      <div class="panel-body">
       <table class="table table-striped table-bordered table-condensed sortable">  
       <thead>  
         <tr>  
           <th>User</th>
           <th>Ativity</th> 
           <th>Date/Time</th>   
         </tr>  
       </thead>  
       <tbody>  
            <% @activities.each do |activity| %>  
         <tr>  
           <td valign="top">   
             <%= activity.owner.email %>  
              
           </td> 
           <td>
            <%= render_activity activity %> 
           </td>
            <td>
             <%= activity.created_at.strftime("%F @ %T") %>
           </td>
         </tr>  
         <% end %>  
       </tbody>  
       <tfoot>  
         <tr>  
           <td colspan="3"></td>  
         </tr>  
       </tfoot>  
      </table>
     </div>
     <div class="panel-footer">
        <%= link_to '< Home', root_path, class: "btn btn-primary" %>
     </div>
    </div>
  </div>
</div>